/* :::::::::::::::::::::::::::::::::::::::::::::::::::
	MISC
::::::::::::::::::::::::::::::::::::::::::::::::::: */

div.item-description-wrapper
{   
    border: 0;
    display: none;
    height: 0px;
    margin: 0;
    overflow: visible;
    padding: 0;
    position: relative;
}

div.item-description
{
	background-color: #0055a6;
	border: 1px solid #FFFFFF;
	color: #FFFFFF;
	font-size: 12px;
	max-width: 300px;
	padding: 5px;
	text-align: left;
	top: -10px;
	z-index: 5;
	
	-moz-box-shadow:0 0 10px #000;
	-webkit-box-shadow:0 0 10px #000;
}

div.tt-altname
{
    font-style: italic;
}


@media only screen and (max-width: 959px)
{
    /* Adjustment to prevent horizontal scroll from nav */
    body
    {
        overflow-x: hidden;
    }
}